.mars {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    list-style: none;
    max-width: 350px;
    margin: 40px auto;
    padding: 0;
}

.cell {
    position: relative;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: #263238;
    transition: background-color .2s;
    min-height: 70px;
    label {
        position: absolute;
        top: 7px;
        left: 7px;
        color: #fff;
        opacity: .1;
        font-size: .8rem;
    }
    >.path{
        &:before {
        position: absolute;
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        background-color: #37474F;
        animation: zoomIn .2s;
        z-index: 0;
        }
        label {
            color: #fff;
        }
    }
    &.end{
        background-color: #4CAF50;
        label {
            opacity: 1;
        }
        &:before {
        display: none;
        }
    }
    &.error {
        background-color: #f44336;
        label {
            opacity: 1;
        }
    }
}



@media (min-width: 510px) {
    .mars {
        max-width: 510px;
        width: 510px;
    }

    .cell {
        width: 100px;
        height: 100px;
    }

    h1 {
        margin-bottom: 100px;
    }
}